<div class="header-welcome">
  <h2 class="ui icon header">
    <i class="circular lightbulb icon"></i>
    Temporis 5 Helper
  </h2>
  <p>par <a href="#">@NaudinThibz</a></p>
</div>
<div class="ui form form-recherche-item">
  <div class="field">
    <input type="text" placeholder="Quel item cherchez vous à craft ? Gelano, Arès ?">
  </div>
</div>