<div class="header-welcome">
  <h2 class="">
    <i class="circular lightbulb icon"></i>
    Temporis 5 Helper
  </h2>
  <p class="createur_site">par <a href="#">@NaudinThibz</a></p>
</div>
<form class="form-recherche-item">
  <div class="field">
    <input type="text" placeholder="Quel item cherchez vous à craft ? Gelano, Arès ?">
    <button><%= fa_icon "search 2x" %></button>
  </div>
</form>